<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net48" />
  <package id="JavaScriptEngineSwitcher.Core" version="3.3.0" targetFramework="net48" />
  <package id="JavaScriptEngineSwitcher.V8" version="3.12.4" targetFramework="net48" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x64" version="3.12.4" targetFramework="net48" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x86" version="3.12.4" targetFramework="net48" />
  <package id="Microsoft.ClearScript.Core" version="7.1.4" targetFramework="net48" />
  <package id="Microsoft.ClearScript.V8" version="7.1.4" targetFramework="net48" />
  <package id="Microsoft.ClearScript.V8.Native.win-x64" version="7.1.4" targetFramework="net48" />
  <package id="Microsoft.ClearScript.V8.Native.win-x86" version="7.1.4" targetFramework="net48" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net48" />
</packages>